<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Any800全渠道智能客服云平台</title>
<script type="text/javascript">
var nowtime_time =new Date().getTime();
var d = new Date();
//本地时间与GMT时间的时间偏移差R
var offset = d.getTimezoneOffset() * 60000;
//北京时间偏移差:北京市正8个小时
var offset_b = 480 * 60000;
// 获取北京时间
var nowtime=  new Date(nowtime_time+offset+offset_b);
</script>
</head>
<body>
<main>
<section class="close"><a><img defsrc="<%= require('../images/h5/close.png')  %>"/></a></section>
<div id="message" class="dialogue">
<div id="leaveHistory"></div>
</div>
</main>
<section class="dialogue-footer">
<div class="dialogue-footer-search">

<div class="key-input">
<div class="dialogue-footer-text" id="dialogue-footer-text" contenteditable="true"  ></div>
<div class="talk-btn">
<a class="talk-add" id="dialogue-biaoqing" ><img defsrc="<%= require('../images/h5/biaoqing.png')  %>"/></a>
<a class="talk-add" id="dialogue-add" ><img defsrc="<%= require('../images/h5/talk-add.png')  %>"/></a>
<a class="talk-add" id="dialogue-send" ><img defsrc="<%= require('../images/h5/send.png')  %>"/></a>
</div>
</div>
<div class="dialogue-footer-cover"></div>
<div class="clearboth"></div>
</div>

<div class="dialogue-footer-face">
<div class="footer-face">
</div>
<!-- <div class="footer-logo">Any800</div> -->
</div>
</section>
<script>
var ucc={};
var confirmBox,debug,datas, params, Alert, showBigImgFun, storage,localHistory;
//私有
var webSocket,monitor,systemInfo, mobileInput, msgdb, visitLimit, langTip, robot, History, visitorInformation, leaveMessage, satisfaction,
  visitorRobot, fontStyle, heartBeat, dialogue, skin, detectWeb, workTime, bList, TimeoutList, changeFaceFun,
  sensitive, userDatas, changeWindow, queue;

var pageLoad, uccH5Init, uccH5Event, uccH5Logic, appearance;
</script>
</body>
</html>
